* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f9f9f9;
    color: #181717;
    text-align: center;
    padding: 20px;
}

header {
    text-align: left;

    padding: 50px
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
}

select {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  margin-bottom: 20px;
}

select:hover {
  border-color: #4CAF50;
}

#gallery {
  padding: 20px 0;
}
h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}
h2 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 10px;
}
h1 {
  font-size: 0.90rem;
  color: #1b0112;
  margin-bottom: 10px;
}

.image-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.image-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 5px;
}

.image-card p {
  font-size: 1rem;
  color: #120e0e;
  margin-top: 8px;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}